.App {
  padding: 20px;
}
.navbar {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  background-color: #f2efe6 !important;
}

.sidebar {
  width: 150px !important;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  background-color: #f2efe6 !important;
}
.sidebar .grid{
  margin-bottom: 14px;
}
.app-content {
  margin-left: 20px;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  color: #030333;
}
li {
  list-style: none;
  margin: 0 5px;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.about {
  padding: 10px;
  font-size: 20px;
}
p {
  font-size: 20px;
}
